.faq-section{
  padding:100px 0;
  background:#ffffff;
}

.faq-wrapper{
  max-width:900px;
  margin:auto;
}

.faq-item{
  border:1px solid #eee;
  border-radius:16px;
  margin-bottom:15px;
  overflow:hidden;
  box-shadow:0 5px 15px rgba(0,0,0,.05);
}

.faq-question{
  padding:20px 25px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  cursor:pointer;
  background:#fff;
}

.faq-question h4{
  margin:0;
  font-size:18px;
}

.faq-question span{
  font-size:30px;
  color:#F58220;
}

.faq-answer{
  padding:20px 25px;
  background:#f8fafc;
  color:#555;
  line-height:1.8;
}